<h1>Manage content</h1>

<%= link_to 'Create Role', :controller => 'team_roles', :action => 'new' %> <br>
<%= link_to 'Show Roles', :controller => 'team_roles', :action => 'index' %> <br> <br>
<%= link_to 'Create Roleset', :controller => 'team_rolesets', :action => 'new' %>  <br>
<%= link_to 'Show Roles', :controller => 'team_rolesets', :action => 'index' %>

<%= render :partial => 'page_header' %>
<%= render :partial => 'bread_crumbs' %>
<%= render :partial => 'page_footer' %>