<h3>New Team Role</h3>

<% form_for(@team_role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :role_names %><br />
    <%= f.text_field :role_names %>
  </p>
  <!--
  <p>
    <%= f.label :questionnaire_id %><br />
    <%= f.text_field :questionnaire_id %>
  </p> -->
  <p>
    <%= f.submit 'Create Role' %>
  </p>
<% end %>

<%= link_to 'Back',:controller=> 'tree_display', :action=> 'list' %>